<div ng-controller="myCtrl">
    <div class="body-margin">

        <div class="content-body">
            <span class="textmodel">SELECT YOUR MODEL</span>
            <br>
            <span class="txt">Please choose your model for repair</span>

        </div>
        <!-- control brand -->
        <div class="brand-mobile">
            <div class="mobile-detail">
                <button class="btn active" id="allSearch" ng-click="myFiter.brandName = ''">All</button>
                <button class="btn" id="appleSearch" ng-click="myFiter.brandName = 'apple'">Apple</button>
                <button class="btn" id="samsungSearch" ng-click="myFiter.brandName = 'samsung'">Samsung</button>
                <button class="btn" id="googleSearch" ng-click="myFiter.brandName = 'google'">Google</button>
                <button class="btn" id="motorolaSearch" ng-click="myFiter.brandName = 'motorola'">Motorola</button>
                <button class="btn" id="nokiaSearch" ng-click="myFiter.brandName = 'nokia'">Nokia</button>

            </div>
            <div class="fcsearch">
                <input class="txtsearch" type="search" placeholder="Search for products" ng-model="searchInfo">
                <label class="icon">
                            <span id="lbsearch" class="far fa-search"></span>
                        </label>
            </div>
        </div>

    </div>

    <section class="body-contents">

        <!-- begin right section  -->
        <section class="right-section">
            <!-- begin brand -->
            <section class="iphone-brand">
                <div class="brand-name">
                    <h5>IPHONE BRAND</h5>
                    <div class="comp-lable">
                        <div class="numCounter">
                            <span id='counter-label' value=""></span>
                        </div>
                        <div id="btncounter" class="btnCounter">
                            <a href="#!comparision"><button>COMPARE</button>
                        </a>
                        </div>
                    </div>


                </div>

                <div class="brand-product">
                    <!-- begin product -->
                    <div class="product" ng-repeat="item in listitems | filter:searchInfo | filter:myFiter">
                        <div class="product-content" id="{{item.ID}}" ng-click="view(item.ID)">
                            <div class="product-img">
                                <img src="{{item.pic}}" alt="">
                                <!-- <img src="../images/iphone-13-pro-blue-select.png" alt=""> -->
                            </div>
                            <div class="product-btn">
                                <button class="add-cart">Add in cart<span><i class="fal fa-plus"></i></span></button>
                                <button class="by-now">By now<span><i class="fal fa-shopping-cart"></i></span></button>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-info-top">
                                <div class="product-name">
                                    <p class="name">{{item.name}}</p>
                                </div>

                                <div class="price">
                                    <div>
                                        <p class="price-discount">${{item.price-(item.price*((item.dispercent)/100))}}</p>
                                    </div>
                                    <div>
                                        <p style="color: rgb(61, 54, 54);" class="price-real">(${{item.price}})</p>
                                    </div>
                                </div>
                                <div class="stars">
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>
                                    <i class="fal fa-star"></i>

                                </div>

                            </div>
                            <div class="gift-info">
                                <p class="sm-gift-info">Discount {{item.dispercent}}%</p>
                            </div>
                            <div class="compare">
                                <a onclick="incrementClick()"><button  ng-click="compareProduce($index)">Compare<span><i class="fas fa-plus"></i></span></button></a>
                            </div>

                        </div>

                    </div>

                </div>

            </section>
        </section>
        <!-- end right section -->
        <style>
            .small-img-group {
                display: flex;
                justify-content: space-between;
                transition: all linear 0.2s;
                border-bottom: 3px solid white;
                border-top: 0.5px solid white;
            }
            
            .small-img-group:hover {
                background-image: linear-gradient(to bottom right, rgba(162, 250, 162, 0.2), rgba(227, 240, 116, 0.5));
                box-shadow: 0px 4px 6px rgb(66, 66, 66);
                transition: all linear 0.4s;
                border: none;
            }
            
            .small-img-col {
                cursor: pointer;
                transition: all linear 0.4s;
            }
            
            .small-img-col:hover {
                transform: translateY(-3px);
                transition: all linear 0.4s;
            }
            
            .btn-gb {
                width: 90px;
                border: 1px solid rgb(167, 167, 167);
                background-color: transparent;
                border-radius: 0.5em;
                color: gray;
                transition: all linear 0.3s;
            }
            
            .btn-gb:hover {
                background-color: rgb(206, 7, 139);
                color: white;
                border: none;
                transition: all linear 0.3s;
            }
            
            .btn-gb:focus {
                background-color: rgb(206, 7, 139);
                color: white;
                border: none;
            }
            
            .btn-add {
                width: 120px;
                background-color: rgb(182, 14, 117);
                color: rgb(255, 255, 255);
                height: 35px;
                border: none;
                border-radius: 0.5em;
                margin: 10px 0px;
                transition: all linear 0.3s;
            }
            
            .btn-add:hover {
                background-color: rgb(182, 14, 117, 0.8);
                color: rgb(255, 255, 255);
                transition: all linear 0.3s;
            }
            
            .btn-buy {
                width: 120px;
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                height: 35px;
                border: 1px solid gray;
                border-radius: 0.5em;
                margin: 10px 0px;
                transition: all linear 0.3s;
            }
            
            .btn-buy:hover {
                background-color: black;
                color: white;
                transition: all linear 0.3s;
            }
            
            .bolder {
                font-weight: bold;
            }
            
            .lbdownload {
                color: gray;
                cursor: pointer;
                transition: all linear 0.3s;
                background-color: rgb(255, 255, 255);
                width: 100px;
                height: 35px;
                border: 1px solid rgb(163, 163, 163);
                border-radius: 2em;
            }
            
            .lbdownload:hover {
                background-color: rgb(75, 75, 75);
                color: rgb(255, 255, 255);
                transition: all linear 0.3s;
            }
        </style>
        <!-- Modal content-->
    </section>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- detail product  -->
                    <section class="container Sproduct my-4 pt-2">
                        <div class="row ">
                            <div class="product-show col-lg-5 col-md-12 col-12">
                                <div>
                                    <h5 style="text-align: center;">PHONE DETAILS INFORMATION</h5>
                                </div>
                                <img class="img-fluid w-100 pt-1" src="{{pic}}" alt="" id="mainImg">

                                <div class="small-img-group">
                                    <div class="small-img-col">
                                        <img src="{{pic1}}" width="100%" class="small-img" alt="">
                                    </div>
                                    <div class="small-img-col">
                                        <img src="{{pic2}}" width="100%" class="small-img" alt="">
                                    </div>
                                    <div class="small-img-col">
                                        <img src="{{pic3}}" width="100%" class="small-img" alt="">
                                    </div>
                                    <div class="small-img-col">
                                        <img src="{{pic4}}" width="100%" class="small-img" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <h6>{{brandID | uppercase }} </h6>
                                <H3>{{name}}</H3>
                                <H2>{{discount | currency}}<span style="font-size: 16px; text-decoration: line-through; font-style: italic; color: red;">{{price | currency}}</span></H2>
                                <button class="btn-gb">64Gb</button>
                                <button class="btn-gb">128Gb</button>
                                <button class="btn-gb">256Gb</button>
                                <button class="btn-gb">512Gb</button>
                                <br>
                                <button class="btn-add">Add to cart</button>
                                <button class="btn-buy">Buy Now</button>

                                <h5>Product Details</h5>
                                <p><span class="bolder">Body: </span>{{body}} </p>
                                <p><span class="bolder">Display: </span>{{screen}}</p>
                                <p><span class="bolder">Chipset: </span>{{chipset}}</p>
                                <p><span class="bolder">Memory: </span>{{memory}}</p>
                                <p><span class="bolder">OS/Software: </span>{{os}}</p>
                                <p><span class="bolder">Rear camera: </span>{{camera}}</p>
                                <p><span class="bolder">Front camera: </span>{{selfie}}</p>
                                <p><span class="bolder">Video capture: </span>{{video}}</p>
                                <p><span class="bolder">Battery: </span>{{battery}}</p>
                                <p><span class="bolder">Misc: </span>{{misc}}</p>
                                <p>
                                    <h6>Versions: A2638 (International); A2483 (USA); A2636 (Canada, Japan); A2639 (China, Hong Kong); A2640 (Russia)</h6>
                                </p>
                                <button class="lbdownload">Download</button>
                            </div>
                        </div>

                    </section>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <!-- compare product -->

    </div>

    <script>
        var counterVal = 0;

        function incrementClick() {
            updateDisplay(++counterVal);
        }

        function updateDisplay(val) {
            document.getElementById("counter-label").innerHTML = val;
        }
    </script>