.img-aboutus img {
    width: 100%;
}

.img-aboutus {
    position: relative;
}

.content-about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-about h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 2px 10px white;
    font-weight: bolder;
}

.content-about h5 {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-story {
    padding: 80px;
    text-justify: auto;
    font-style: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}